* {
  margin: 0;
  padding: 0;
}
.box {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  font-size: 18px;
  color: white;
  border: 2px solid yellow;
  padding: 5px;
  margin: 30px;
  text-align: center;
}
button {
  margin: 30px;
  height: 30px;
  font-size: 18px;
}
